# Copy this to .env and fill in the appropriate values.

# The default port for local development is 8081. Uncomment and change to use a different port.
#SERVER_PORT=8081

# Define the server context path which is used to construct URLs. The default is /
#SERVER_SERVLET_CONTEXTPATH=/fhir-sandbox

#
# Data source configuration
#

# Set MySQL passwords - these are the defaults for local development and must be defined here.
MYSQL_PASSWORD=fhir_sandbox
MYSQL_ROOT_PASSWORD=root

# Uncomment and update if you change MYSQL_PASSWORD for local development
# Required if you are using docker-compose.dev.yml
#SPRING_DATASOURCE_PASSWORD=fhir_sandbox

#
# OAuth2 signing key
#

# Create an RSA key to use when signing JSON web tokens: `openssl genrsa -out sandbox-key.pem 2048`
# Fill in the path to your RSA key below, e.g. "file:/Users/username/path/to/your/key"
OCTRI_SANDBOX_OAUTH2_PRIVATE_KEY_LOCATION=

#
# Sample FHIR data configuration
#

# Sample FHIR data configuration
# OCTRI_SANDBOX_DATA_SAMPLESLOCATION=

#
# LDAP authentication
#

# Enable LDAP authentication
OCTRI_AUTHENTICATION_ENABLELDAP=true

# URL of the LDAP directory (e.g. "ldaps://ldap.example.edu:636")
LDAP_CONTEXTSOURCE_URL=

# Base distinguished name (DN) of the directory (e.g. "dc=example,dc=edu")
LDAP_CONTEXTSOURCE_BASEDN=

# User distinguished name (DN) used to bind to the directory (e.g. "cn=someuser,ou=Service Accounts,ou=User Accounts,dc=example,dc=edu")
LDAP_CONTEXTSOURCE_USERDN=

# Password used to bind to the directory
LDAP_CONTEXTSOURCE_PASSWORD=

# Subtree to search for user accounts (e.g. "ou=User Accounts,dc=example,dc=edu")
LDAP_CONTEXTSOURCE_SEARCHBASE=

# Filter used to match user accounts (e.g. "(sAMAccountName={0})")
LDAP_CONTEXTSOURCE_SEARCHFILTER=

# Used to populate the organization field of user accounts (optional, e.g. "University of Example")
LDAP_CONTEXTSOURCE_ORGANIZATION=

# Email domain associated with user accounts (used to help identify LDAP accounts, e.g. "example.edu")
LDAP_CONTEXTSOURCE_EMAILDOMAIN=

#
# Table-based authentication
#

# Enable table-based authentication, which stores hashed passwords in the database.
OCTRI_AUTHENTICATION_ENABLE_TABLE_BASED=true

# NOTE: Table-based authentication uses Spring's mail support to send account management emails.
# https://docs.spring.io/spring-boot/appendix/application-properties/index.html#appendix.application-pro

# Email address to use to send account emails
OCTRI_MESSAGING_EMAIL_DEFAULT_SENDER_ADDRESS=

# By default, email messages will be logged to the console. To actually deliver account management emails,
# change the value below to SMTP and configure the SPRING_MAIL_* properties.
OCTRI_MESSAGING_EMAIL_DELIVERY_STRATEGY=LOG

# Character encoding to use for account emails
SPRING_MAIL_DEFAULT_ENCODING=UTF-8

# Hostname of the server used to send account emails (e.g. "smtp.example.edu")
SPRING_MAIL_HOST=

# Port to connect to when sending account emails (e.g. 25 for SMTP)
SPRING_MAIL_PORT=25

# Protocol to use to send account emails (e.g. "smtp" or "smtps")
SPRING_MAIL_PROTOCOL=smtp

# Whether to test connecting to the email server on startup (e.g. "false")
SPRING_MAIL_TEST_CONNECTION=false

# User to use to connect to the email server
#SPRING_MAIL_USERNAME=

# Password to use to connect to the email server
#SPRING_MAIL_PASSWORD=
