<h2>Sandbox Sharing</h2>
<div id="shared_accounts_management">
  <div class="translation-wrapper" data-key="selectedHeader" data-value="Authorized Accounts"></div>
  <div class="translation-wrapper" data-key="availableHeader" data-value="Available Accounts"></div>
  <div class="translation-wrapper" data-key="addSelectionButton" data-value="Grant Access"></div>
  {{! <div class="translation-wrapper" data-key="submitSelectionButton" data-value="Save Changes"></div> }}
  <div class="translation-wrapper" data-key="confirmModalHeader" data-value="Confirm Access Changes"></div>
  <div class="translation-wrapper" data-key="confirmAddedItemsHeader" data-value="Granting access to"></div>
  <div class="translation-wrapper" data-key="confirmRemovedItemsHeader" data-value="Revoking access from"></div>
  {{! <div class="translation-wrapper" data-key="cancelChangesButton" data-value=""></div> }}
  <div class="translation-wrapper" data-key="confirmChangesButton" data-value="Submit"></div>
</div>