<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#authorized_accounts" aria-expanded="false" aria-controls="account_multi_selector">
    {{#i18n}}sandbox.accountAuthorization.collapse{{/i18n}}
  </button>
</p>
<div class="collapse" id="authorized_accounts">
  Ipsum Lorem
  <div id="account_multi_selector" class="card card-body">
  </div>
</div>