{{>layout/header}}
<div class="container">
	<h1>{{#entity}}{{label}}{{/entity}}</h1>
	{{>components/messages}}
	<div>
		{{#entity}}
		<h5>{{#i18n}}sandbox.owner.label{{/i18n}}</h5>
		<p>
			{{#owner}}{{label}}{{/owner}}
			{{^owner}}<span class="text-muted">{{#i18n}}system.entity.none{{/i18n}}</span>{{/owner}}
		</p>
        <h5>{{#i18n}}sandbox.status.label{{/i18n}}</h5>
        <p>
            {{#status}}{{.}}{{/status}}
            {{^status}}<span class="text-muted">{{#i18n}}system.entity.none{{/i18n}}</span>{{/status}}
        </p>
		<h5>{{#i18n}}sandbox.fhirServerUrl.label{{/i18n}}</h5>
		<p>
			{{#fhirServerUrl}}{{.}}{{/fhirServerUrl}}
			{{^fhirServerUrl}}<span class="text-muted">{{#i18n}}system.entity.none{{/i18n}}</span>{{/fhirServerUrl}}
		</p>
		{{>components/show_links}}
		{{/entity}}
	</div>

	{{#entity.isReady}}
	<div class="vertical-space">
	<h2>{{#i18n}}sandbox.clients.label{{/i18n}}</h2>

	<p><a href="{{req.contextPath}}{{baseRoute}}/{{entity.id}}/client/new" class="btn btn-primary">{{#i18n}}smartClient.actions.new{{/i18n}}</a></p>

	{{#hasClients}}
	<table class="table table-striped table-bordered sorted">
		<thead>
			<tr>
				<th>{{#i18n}}smartClient.name.label{{/i18n}}</th>
				<th>{{#i18n}}smartClient.clientId.label{{/i18n}}</th>
				<th>{{#i18n}}smartClient.launchUri.label{{/i18n}}</th>
				<th>{{#i18n}}system.entity.actions{{/i18n}}</th>
			</tr>
		</thead>
		<tbody>
			{{#clients}}
			<tr>
				<td>{{name}}</td>
				<td>{{clientId}}</td>
				<td>{{launchUri}}</td>
				<td>
					{{! TODO: RFS-249 remove stub IDs }}
					<a href="#" role="button" class="client-launch" data-client-id="{{clientId}}" data-patient-id="{{stubPatientId}}" data-fhir-user="{{stubPractitionerId}}" data-launch-url="{{launchUri}}?iss={{fhirServerUrl}}">{{#i18n}}smartClient.actions.launch{{/i18n}}</a>
					<a href="{{req.contextPath}}{{baseRoute}}/{{sandbox.id}}/client/{{id}}/edit">{{#i18n}}system.entity.edit{{/i18n}}</a>
					<a href="{{req.contextPath}}{{baseRoute}}/{{sandbox.id}}/client/{{id}}/delete" class="text-danger" onclick="return confirm('{{#i18n}}smartClient.actions.deleteMessage{{/i18n}}');">{{#i18n}}system.entity.delete{{/i18n}}</a>
				</td>
			</tr>
			{{/clients}}
		</tbody>
	</table>
	{{/hasClients}}
	{{^hasClients}}
	<p class="text-muted">{{#i18n}}sandbox.clients.none{{/i18n}}</p>
	{{/hasClients}}
	</div>
	{{/entity.isReady}}
</div>
{{>layout/footer}}