{{>components/form_start}}
{{#entity}}

<input type="hidden" id="owner" name="owner" value="{{#owner}}{{id}}{{/owner}}">

<div class="form-group">
    <label for="description" class="form-label required-field">{{#i18n}}sandbox.description.label{{/i18n}}</label>
    <input type="text" class="form-control" id="description" name="description" value="{{#description}}{{.}}{{/description}}" required maxlength="200">
    <div class="invalid-feedback">{{#i18n}}sandbox.description.validationMessage{{/i18n}}</div>
</div>

{{! Hides the initialization controls if the Entity has previously been saved }}
{{^id}}
<div class="form-group">
    <label>{{#i18n}}sandbox.initControls.header{{/i18n}}</label>
    <div>
        <input class="form-check-input" type="checkbox" name="importSampleData">
        <label class="form-check-label" for="importSampleData">
            {{#i18n}}sandbox.initControls.importSampleData.label{{/i18n}}
        </label>
        <input type="hidden" name="importSampleData" value="false">
    </div>
</div>
{{/id}}

<input type="hidden" id="server_partition_id" name="serverPartitionId" value="{{#serverPartitionId}}{{.}}{{/serverPartitionId}}" required>
<input type="hidden" id="server_partition_name" name="serverPartitionName" value="{{#serverPartitionName}}{{.}}{{/serverPartitionName}}" required>

{{/entity}}
{{>components/form_end}}