{{>components/form_start}}
{{#entity}}
<div class="form-group">
    <label for="owner" class="form-label required-field">{{#i18n}}sandbox.owner.label{{/i18n}}</label>
    <select class="form-select" id="owner" name="owner" value="{{#owner}}{{.}}{{/owner}}" required>
        <option value="">-- {{#i18n}}system.entity.select{{/i18n}} --</option>
        {{#ownerOptions}}
        <option value="{{id}}" {{#selected}}selected{{/selected}}>{{label}}</option>
        {{/ownerOptions}}
    </select>
    <div class="invalid-feedback">{{#i18n}}sandbox.owner.validationMessage{{/i18n}}</div>
</div>

<div class="form-group">
    <label for="description" class="form-label required-field">{{#i18n}}sandbox.description.label{{/i18n}}</label>
    <input type="text" class="form-control" id="description" name="description" value="{{#description}}{{.}}{{/description}}" required>
    <div class="invalid-feedback">{{#i18n}}sandbox.description.validationMessage{{/i18n}}</div>
</div>

<input type="hidden" id="server_partition_id" name="serverPartitionId" value="{{#serverPartitionId}}{{.}}{{/serverPartitionId}}" required>
<input type="hidden" id="server_partition_name" name="serverPartitionName" value="{{#serverPartitionName}}{{.}}{{/serverPartitionName}}" required>

{{/entity}}
{{>components/form_end}}