{{>layout/header}}
<div class="container">
    <h1>{{entityName}}</h1>
    {{>components/messages}}
    <div>
        {{#entity}}
        <h5>{{#i18n}}sandbox.owner.label{{/i18n}}</h5>
        <p>
            {{#owner}}{{label}}{{/owner}}
            {{^owner}}<span class="text-muted">{{#i18n}}system.entity.none{{/i18n}}</span>{{/owner}}
        </p>
        <h5>{{#i18n}}sandbox.description.label{{/i18n}}</h5>
        <p>
            {{#description}}{{.}}{{/description}}
            {{^description}}<span class="text-muted">{{#i18n}}system.entity.none{{/i18n}}</span>{{/description}}
        </p>
        <h5>{{#i18n}}sandbox.serverPartitionId.label{{/i18n}}</h5>
        <p>
            {{#serverPartitionId}}{{.}}{{/serverPartitionId}}
            {{^serverPartitionId}}<span class="text-muted">{{#i18n}}system.entity.none{{/i18n}}</span>{{/serverPartitionId}}
        </p>
        <h5>{{#i18n}}sandbox.serverPartitionName.label{{/i18n}}</h5>
        <p>
            {{#serverPartitionName}}{{.}}{{/serverPartitionName}}
            {{^serverPartitionName}}<span class="text-muted">{{#i18n}}system.entity.none{{/i18n}}</span>{{/serverPartitionName}}
        </p>
        {{>components/show_links}}
        {{/entity}}
    </div>
</div>
{{>layout/footer}}