{{>components/form_start}}
{{#entity}}
<div class="form-group">
    <label for="sandbox" class="form-label required-field">{{#i18n}}smartClient.sandbox.label{{/i18n}}</label>
    <select class="form-select" id="sandbox" name="sandbox" value="{{#sandbox}}{{.}}{{/sandbox}}" required>
        <option value="">-- {{#i18n}}system.entity.select{{/i18n}} --</option>
        {{#sandboxOptions}}
        <option value="{{id}}" {{#selected}}selected{{/selected}}>{{label}}</option>
        {{/sandboxOptions}}
    </select>
    <div class="invalid-feedback">{{#i18n}}smartClient.sandbox.validationMessage{{/i18n}}</div>
</div>

<div class="form-group">
    <label for="client_type" class="form-label required-field">{{#i18n}}smartClient.clientType.label{{/i18n}}</label>
    <select class="form-select" id="client_type" name="clientType" value="{{#clientType}}{{.}}{{/clientType}}" required>
        <option value="">-- {{#i18n}}system.entity.select{{/i18n}} --</option>
        {{#clientTypeOptions}}
        <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
        {{/clientTypeOptions}}
    </select>
    <div class="invalid-feedback">{{#i18n}}smartClient.clientType.validationMessage{{/i18n}}</div>
</div>

<input type="hidden" id="client_id" name="clientId" value="{{#clientId}}{{.}}{{/clientId}}">

<div class="form-group">
    <label for="description" class="form-label required-field">{{#i18n}}smartClient.description.label{{/i18n}}</label>
    <input type="text" class="form-control" id="description" name="description" value="{{#description}}{{.}}{{/description}}" required>
    <div class="invalid-feedback">{{#i18n}}smartClient.description.validationMessage{{/i18n}}</div>
</div>

<div class="form-group">
    <label for="launch_uri" class="form-label required-field">{{#i18n}}smartClient.launchUri.label{{/i18n}}</label>
    <input type="text" class="form-control" id="launch_uri" name="launchUri" value="{{#launchUri}}{{.}}{{/launchUri}}" required>
    <div class="invalid-feedback">{{#i18n}}smartClient.launchUri.validationMessage{{/i18n}}</div>
</div>

<div class="form-group">
    <label for="redirect_uris" class="form-label required-field">{{#i18n}}smartClient.redirectUris.label{{/i18n}}</label>
    <input type="text" class="form-control" id="redirect_uris" name="redirectUris" value="{{#redirectUris}}{{.}}{{/redirectUris}}" required>
    <div class="invalid-feedback">{{#i18n}}smartClient.redirectUris.validationMessage{{/i18n}}</div>
</div>

<div class="form-group">
    <label for="scopes" class="form-label required-field">{{#i18n}}smartClient.scopes.label{{/i18n}}</label>
    <input type="text" class="form-control" id="scopes" name="scopes" value="{{#scopes}}{{.}}{{/scopes}}" required>
    <div class="invalid-feedback">{{#i18n}}smartClient.scopes.validationMessage{{/i18n}}</div>
</div>

{{/entity}}
{{>components/form_end}}