{{#enableEnvironmentBanner}}
<div class="environment-banner border border-bottom border-danger-subtle bg-danger-subtle p-2 text-center text-uppercase text-danger-emphasis fw-semibold">
	{{environmentBannerText}}
</div>
{{/enableEnvironmentBanner}}