		</main>

		<footer class="footer">
			<div id="footer_container" class="container">
				<hr>
				<p id="app_version" class="text-right text-body-secondary small">
					{{appName}} {{appVersion}} &copy; {{currentYear}}
				</p>
				<div id="logos" class="text-center">
					<img src="{{req.contextPath}}/assets/img/OCTRI_logo.png" class="img-fluid">
				</div>
			</div>
		</footer>
		{{>layout/footer_assets}}
	</body>
</html>