{{! 
    Displays a data field alongside a link icon to copy the value to the clipboard 
    * Assumes that the field context has been opened in the parent template 
}}
<a href="#" title="Copy Data Field" class="small copy-text-control accent-color ps-2" 
        data-text="{{.}}"><i class="fa-regular fa-copy"></i></a>