<button type="submit" class="btn btn-primary">Submit</button>
{{#id}}
<a href="{{req.contextPath}}{{#cancelAction}}{{.}}{{/cancelAction}}{{^cancelAction}}{{baseRoute}}/{{id}}{{/cancelAction}}" class="btn btn-link">Cancel</a>
{{/id}}
{{^id}}
<a href="{{req.contextPath}}{{#cancelAction}}{{.}}{{/cancelAction}}{{^cancelAction}}{{baseRoute}}/{{/cancelAction}}" class="btn btn-link">Cancel</a>
{{/id}}