{{! widget to toggle direct navigation to a translation from the UI.
    Interactions are controlled by the translation-management.js script.
 }}
<div class="mb-4">
    <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="toggleTranslationNav">
    <label class="form-check-label" for="toggleTranslationNav">{{#i18n}}translation.toggleNavigation{{/i18n}}</label>
    </div>
    <div class="small help text-muted ps-4">{{#i18n}}translation.toggleNavigationHelp{{/i18n}}</div>
</div>